body {
    font-family: 'Frijole', cursive;
}

h1 {
    color: #000;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;   
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(44, 41, 41);
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 650px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 3px solid #423a64;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    box-shadow: 5px 5px 10px 5px rgb(57 57 58 / 30%);
    background-color: #b8a5dd;
    background-image: linear-gradient(315deg, #a9a8e7 0%, #78a5da 74%);
    opacity: 0.9;
    
}

.main-info {
    margin-bottom: 20px;
    
}


.weather-temperature img {
    margin-right: 5px;
    float: left;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: #202124;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -32px;
}

a {
    text-decoration: none;
    color: #3d2c79;
    font-size: 15px;
    
}

li .fas {
    color: rgb(28, 28, 80);
}

a:hover {
    text-decoration: underline;
}

.weather-temperature .active {
    color: #202124;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center; 
    color: #000000;
    padding-bottom: 15px;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;   
}

.weather-forecast-temperature-min {
    opacity: 0.6;

}
.weather-forecast-temperature {
    font-size: 13px;
}


.btn-primary {
    transition: 0.15ms ease-in-out;
    opacity: 100%;
}

.btn-primary:hover {
    background-color: #007bff;
    background: 0.7;
    border-color: #007bff;
    color: black;  
  }

  
.condition {
    padding-bottom: 25px;
}

.humidity {
    padding-bottom: 25px;
}

#background {
    position: fixed;
    top: 0;
    z-index: -1;
  }
  
  @media (min-aspect-ratio: 16/9) {
    #background {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    #background {
      width: 100%;
      height: 100%;
    }
  }
  